# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore files when exporting to a ZIP.
/.github/           	export-ignore
/.gitattributes     	export-ignore
/.gitignore         	export-ignore
/.gitmodules        	export-ignore
