[submodule "addons/ivoyager_table_importer"]
	path = addons/ivoyager_table_importer
	url = https://github.com/ivoyager/ivoyager_table_importer
[submodule "addons/ivoyager_core"]
	path = addons/ivoyager_core
	url = https://github.com/ivoyager/ivoyager_core
